<!DOCTYPE html>
<html>
<head>
<title>@ViewBag.Title</title>
<style>
body {
	font: 10pt Verdana;
}
</style>
@RenderSection("head", false)
</head>
<body>
@RenderBody()
@RenderSection("script", false)
</body>
</html>
